.spinerContenedorNoPokemonsFavorites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 22px;
    right: 0;
    left: 0;
    background-color: #ff00003d;
}

.spinerContenedorNoPokemonsFavorites h3 {
    color: #ff5454;
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 375px) {
    .spinerContenedorNoPokemonsFavorites h3 {
        font-size: 1.5rem;
        width: 80%;
    }
}