.spinerContenedorNoPokemons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 22px;
    right: 0;
    left: 0;
    background-color: #ff00003d;
    height: 640px;
}

.spinerContenedorNoPokemons h3 {
    color: #ff5454;
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width:1440px) and (max-height:705px) {
    .spinerContenedorNoPokemons {
        height: 550px;
    }
    .spinerContenedorNoPokemons h3 {
        font-size: 1.5rem;
    }
}

@media(max-width:425px){
    .spinerContenedorNoPokemons h3 {
        font-size: 1.5rem;
        width: 80%;
    }
}