.container-About-Pokemon {
    width: 80%;
    margin: auto;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ff5454;
    align-items: center;
    margin-top: 10%;
    box-shadow: 0px 20px 20px 3px rgb(0 0 0 / 40%);
    border-radius: 20px;
    border: 5px solid gray;
    position: relative;
}

.foto-Personal {
    width: 45%;
    display: flex;
    justify-content: center;
}

.foto-Personal img {
    border-radius: 50%;
    width: 55%;
}

.info-acerca-de-mi {
    width: 45%;
}

.info-acerca-de-mi p {
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 1.1rem;
    width: 90%;
    font-family: sans-serif;
}

.pokeball-Sup-Left {
    width: 5%;
    position: absolute;
    left: 1%;
    top: 3%;
    box-shadow: inset 0px 0px 20px 1px;
    border-radius: 50%;
}

.pokeball-Bottom-Left {
    width: 5%;
    position: absolute;
    right: 1%;
    top: 3%;
    box-shadow: inset 0px 0px 20px 1px;
    border-radius: 50%;
}

.pokeball-Bottom-Right {
    width: 5%;
    position: absolute;
    right: 1%;
    bottom: 3%;
    box-shadow: inset 0px 0px 20px 1px;
    border-radius: 50%;
}

.pokeball-Sup-Right {
    width: 5%;
    position: absolute;
    left: 1%;
    bottom: 3%;
    box-shadow: inset 0px 0px 20px 1px;
    border-radius: 50%;
}

.footer-About{
    margin-top: 10%;
}

@media(max-width:1024px) {
    .info-acerca-de-mi p {
        line-height: inherit;
    }
}

@media(max-width:768px) {
    .foto-Personal {
        width: 40%;
        justify-content: flex-start;
    }

    .foto-Personal img {
        width: 70%;
        margin-left: 10%;
    }

    .info-acerca-de-mi {
        width: 50%;
    }

    .info-acerca-de-mi p {
        width: 100%;
        font-size: 1rem;
    }
}

@media(max-width:550px) {
    .container-About-Pokemon {
        flex-direction: column;
    }

    .info-acerca-de-mi {
        width: 90%;
    }
}

@media(max-width:768px) {
    .pokeball-Sup-Left {
        width: 7%;
    }

    .pokeball-Sup-Right {
        width: 7%;
    }

    .pokeball-Bottom-Left {
        width: 7%;
    }

    .pokeball-Bottom-Right {
        width: 7%;
    }
    .footer-About{
        margin-top: 15%;
    }
}

@media(max-width:425px) {
    .container-About-Pokemon{
        margin-top: 20%;
    }
    .pokeball-Sup-Left {
        width: 10%;
    }

    .pokeball-Sup-Right {
        width: 10%;
    }

    .pokeball-Bottom-Left {
        width: 10%;
    }

    .pokeball-Bottom-Right {
        width: 10%;
    }
    .footer-About {
        margin-top: 25%;
    }
}

@media (max-width: 375px) {
    .container-About-Pokemon {
        height: 400px;
        margin-top: 15%;
    }
}