.footer-Group{
    margin-top: 45%;
}
@media screen and (max-width:1440px) and (min-width:1025px) {
    .footer-Group {
        margin-top: 41%;
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .footer-Group {
        margin-top: 54%;
    }
}

@media screen and (max-width:768px) and (min-width:426px) {
    .footer-Group {
        margin-top: 72%;
    }
}

@media screen and (max-width:425px) {
    .footer-Group {
        margin-top: 130%;
    }
}

@media screen and (max-width: 375px) {
    .footer-Group {
        margin-top: 147%;
    }
}
@media screen and (max-width: 320px){
    .footer-Group {
        margin-top: 172%;
    }
}
