.contenedor-De-Pokemons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    animation-name: introAnimacion;
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    transition: all 1s ease;
    margin-top: 5%;
}

.contenedor-De-Pokemons.active {
    width: 70%;
    transition: all 1s ease;
    padding-top: 1%;
}

.focus-Pokemon {
    transform: translate(100%, -2rem);
    position: fixed;
    right: 0;
    bottom: 5px;
    transition: all 1s ease;
}

.focus-Pokemon.active {
    transform: translate(0px, -2rem);
    width: 30%;
    bottom: 5px;
    transition: all 1s ease;
}

.dataPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-Pokemon-Data-List{
    width: 100%;
}

.svgcito {
    margin-top: 5%;
    height: 150px;
    width: 150px;
    cursor: pointer;
    border: 5px black solid;
    border-radius: 50%;
    margin-bottom: 5%;
    transition: all .3s ease;
}

.svgcito:hover {
    border: 5px #81beff solid;
    fill: #81beff;
    transition: all .3s ease;
}

.card-container-Pokemon-Search{
    width: 100%;
    height: 500px;
}

@keyframes buscadorActive {}

@keyframes introAnimacion {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:1440px) and (min-width:1025px) and (max-height:705px) {
    .focus-Pokemon.active {
        bottom: 5px;
    }
}

@media(max-width:1024px){
    .card-container-Pokemon-Search{
        height: 470px;
    }
}

@media screen and (max-width:768px) {
    .contenedor-De-Pokemons.active {
        width: 100%;
        z-index: 1;
    }

    .focus-Pokemon {
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s ease;
    }

    .focus-Pokemon.active {
        right: 0;
        left: 0;
        top: 0;
        bottom: -35px;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1000;
        align-items: center;
        background-color: #ff76768f;
        visibility: visible;
        opacity: 1;
        transition: opacity .5s ease;
    }


    .contenedor-De-Pokemons {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width:549px) and (min-width:426px) {
    .focus-Pokemon.active {
        bottom: -130px;
    }
}

@media (max-width:425px) {
    .contenedor-De-Pokemons {
        padding-top: 10%;
    }

    .contenedor-De-Pokemons.active {
        padding-top: 10%;
    }

    .container-Pokemon-Data-List {
        display: flex;
        overflow: hidden;
        width: 100%;
    }
}

@media(max-width:375px) {
    .contenedor-De-Pokemons {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 10%;
    }

    .contenedor-De-Pokemons.active {
        padding-top: 10%;
    }
    .dataPokemon{
        z-index: 998;
    }
}