.contenedorBuscadorPokemon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.inputBusquedaPokemon {
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btnSubmitBusquedaPokemon {
    width: 15%;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (max-width:425px) {
    .contenedorBuscadorPokemon {
        width: 100%;
    }
}

@media(max-width:375px) {
    .btnSubmitBusquedaPokemon {
        width: 15%;
    }
}