.body-Pokemon-G {
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slider-Pokemon-Group {
    width: 70%;
}

.info-PokemonGroup {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.slider-Pokemon {
    height: 540px;
    width: 100%;
}

.card-Slider-Pokemon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 200px;
    box-shadow: inset 0px 0px 19px 1px;
}

.container-White-Background {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../../Assets/Img/pastoPokemon2.png);
    background-repeat: no-repeat;
    background-size: 100% 110%;
    border-radius: 160px;
    box-shadow: inset 0px 0px 19px 1px;
}

.container-White-Background img {
    width: 35%;
    height: 60%;
}

.team-Icons-Pokemon-Group {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-Pokemon-Unique {
    background-color: #648ddf;
    color: white;
    text-align: center;
    border-radius: 10px;
}

@media(max-width:425px) {
    .body-Pokemon-G {
        flex-direction: column-reverse;
    }

    .info-PokemonGroup {
        display: flex;
        width: 95%;
        margin: auto;
        margin-top: 40%;
    }

    .team-Icons-Pokemon-Group {
        height: inherit;
    }

    .slider-Pokemon-Group {
        width: 90%;
        margin: auto;
    }

    .slider-Pokemon {
        padding-bottom: 15%;
    }

    .card-Slider-Pokemon {
        border-radius: 20px;
    }

    .container-White-Background {
        border-radius: 20px;
    }
}