.container-Footer-Component {
    background-color: #ff5454;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
}

.get-In-Touch {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    height: 35%;
    display: flex;
    align-items: center;
}

.get-In-Touch p {
    margin: 0;
}

.icons-Container {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 50%;
    align-items: center;
}

.linkedin {
    width: 73px;
}

.portfolio {
    height: 73px;
}

@media(max-width:1024px) {

    .linkedin,
    .portfolio,
    .github {
        width: 60px;
    }
}

@media(max-width:425px) {
    .icons-Container {
        width: 65%;
    }
}